<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/nashtech/IdeaProjects/MavenProject"><classes><class name="com.amazon.test.AmazonTestFlow"><methods><include name="SearchAndClickFirstProduct"/><include name="addToCart"/><include name="proceedBuy"/></methods></class></classes></test></suite>